html {
    scroll-behavior: smooth;
    }

    /* Segun he podido comprobar, "scroll-behavoir" hace que el desplazamiento hacia cualquier articulo sea menos brusco*/


body {
    background-color: #cd5c5c;
    margin-top: -21px;
}

header {
    text-align: center;
}

nav {
    text-align: center;
}

div {
    background-color: #db7093;
    margin-left: 60px;
    margin-right: 35px;
}

section {
    padding-left: 20px;
}

a {
    padding-inline: 20px;  
}

a:hover {
    color: white;
}

#caso1:hover{
    color: white;
}

#caso2:hover{
    color: white;
}

#caso3:hover{
    color: white;
}
