body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
 
/* No olvides definir estilos para focus */
:focus {
  outline: 0;
}
 
/* No olvides resaltar de alguna manera el texto insertado/borrado */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
 
/* En el c�digo HTML es necesario a�adir cellspacing="0" */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS para el menu */

header {
  display: flex;
  justify-content: space-between;
  font-family:cursive;
  background-color: #00FEFF;
}

header > nav {
  margin-top: 6px;
  margin-right: 30px;
  
  
}

header ul{
  display: none;
}

.submenu {
  display: none;
}

li > a{
  text-decoration: none;
}

header nav:hover ul {
  display: block;
  position: absolute;
  top: 75px;
  width: 70px;
  height: 60px;
  opacity: 0.8;
  border: black 4px solid;
  border-style: double;
  border-radius: 8px;
  background-color: white; 
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

section{
  margin-left: 20px;
  margin-top: 10px;
  line-height: 30px;
}

h1{
  font-size: 40px;
}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* CSS para MAIN */

main {
    display: flex;
    text-align: justify;
    justify-content: space-around;
    padding-top: 25px;
}

figure img {
  width: 620px;
  height: 620px;
}

figcaption{
  background-color: white;
  opacity: 0.8;
  position: relative;
  top: -50px;
  padding: 4px; 
}


/* CSS para el footer */

footer {
    display: flex;
    text-align: justify;
    justify-content: center;
    flex-wrap: wrap; 
    align-self: flex-end;
    background-color: #12EC0F;
    bottom: 0;
}

footer nav {
  font-weight: bold;
}

footer nav ul {
  display: flex;
}

footer ul li a{
  padding: 5px;
}
